*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-family: 'Trebuchet MS', Helvetica,sans-serif;
    font-size: 16px;
}

.header{
    width: 100%;
    /*border-bottom: 1px solid #d8d8d8;*/
    top: 0;
    margin: 0;
}

.navegacao{
    background: #fff;
    /*border-bottom: 1px solid #d8d8d8;*/
    width: 100%;
    top: 0;
}

.areaPrincipal{
    width: auto;
    margin: 10px 10px;
}

.postagens{
    
}

.imagens{
    width: 450px;
}
/*todos links*/
a{
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

/*links não visitados*/
a:link{
    color: #838383;
}

/*links visitados*/
a:visited{
    color: #838383;
}

/*cursor em cima do link*/
a:hover{
    color: white;
    background: #de1f26;
}

/*momento do click*/
a:active{
    color: #535353;
}

