*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-family: 'Trebuchet MS', Helvetica,sans-serif;
    font-size: 18px;
}

.tudo{
    display: table;
al
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    text-shadow: 0 0 8px #de1f26;
    color: #fff;
}

.imgLeft{
    float: left;
    width: 45%;
    margin-left: auto;

    border: 1px dotted blue;
}

.textoRight{
    float: left;
    width: 45%;
    
    border: 1px dotted red;
}

.clear{
    clear: both;
}